.resize {
  width: 200px !important;
  background-color: black;
  font-size: 18px;
  color: white;
}

.resize:hover {
  border: 3px solid gold;
}

.container {
  color: white;
}

.answers {
  font-size: 20px;
}

body {
  background-color: red;
}
